SECRET_KEY=xxxxxxxx

DB_NAME=xxxxxxxx
DB_USER=xxxxxxxx
DB_PASSWORD=xxxxxxxx
DB_HOST=xxxxxxxx
DB_PORT=xxxxxxxx

EMAIL_HOST=xxxxxxxx
EMAIL_PORT=xxxxxxxx
EMAIL_USER=xxxxxxxx
EMAIL_PASSWORD=xxxxxxxx

AWS_ACCESS_KEY_ID=xxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxx
AWS_STORAGE_BUCKET_NAME=xxxxxxxx
AWS_DEFAULT_ACL=xxxxxxxx
AWS_S3_REGION_NAME=xxxxxxxx
AWS_QUERYSTRING_AUTH=xxxxxxxx
AWS_QUERYSTRING_EXPIRE=xxxxxxxx

FILES_FOLDER=xxxxxxxx
